files:
  "/opt/elasticbeanstalk/deployment/env":
    mode: "000600"
    owner: root
    group: root
    content: |
      COGNITO_REGION=us-east-1
      COGNITO_APP_CLIENT_ID=46imgif7qbnqf3p5rnm3k8iaep
      COGNITO_USERPOOL_ID=us-east-1_MnFIKTrVS
      S3_BUCKET_NAME=cropcare-ai-bucket-24267651
      DDB_TABLE_NAME=CropCareImages
      AWS_SNS_TOPIC_ARN=arn:aws:sns:us-east-1:934499836848:CropCareHelpRequests

container_commands:
  01_export_env:
    command: "export $(cat /opt/elasticbeanstalk/deployment/env | xargs)"
